extends layout

block content
    
  .row.justify-content-center
    .col-sm-8
      form(action='your-server-side-code', method='POST')
        script.stripe-button(src='https://checkout.stripe.com/checkout.js',
        data-key='pk_test_TYooMQauvdEDq54NiTphI7jx',
        data-amount='999',
        data-name='Stripe.com',
        data-description='Widget',
        data-image='https://stripe.com/img/documentation/checkout/marketplace.png',
        data-locale='auto',
        data-zip-code='true')
    .col-sm-6
      legend New Pet
      form(action="#" id="new-pet")
        .form-group
            label Name*
            input.form-control(name="name" required)
        .form-group
            label Birthday*
            input.form-control(name="birthday" required)
        .form-group
            label Species*
            input.form-control(name="species" required)
        .form-group
            label Rectangular Image URL*
            input.form-control(name="picUrl" required type="url")
        .form-group
            label Square Image URL*
            input.form-control(name="picUrlSq" required type="url")   
        .form-group
            label Favorite Food*
            input.form-control(name="favoriteFood" required)
        .form-group
            label Description*
            textarea.form-control(name="description" required minlength="140")
        .form-group
            label Avatar*
            input.form-control(name="avatar" type="file" required)
        .form-group
            label Price*
            textarea.form-control(name="price" required type="number")
        button(type="submit").btn.btn-primary Save
        